# Show how to use methods in load_data.py

In [1]:
from load_data import *

Show how to use the functions to access the dataframes.  In this example there are two different ways to load the data: you can stream it from box by calling the load_from_box() function, or you can load it from the file stored in the /data folder by calling the load_from_file() function. Both functions return a pandas dataframe of the data.

In [5]:
df = load_from_file()
df.head()

              A    B    C
01/09/2000  118  164  180
02/01/2000  115  149  156
02/01/2000  105  117  177
02/13/2000  130  110  102
02/14/2000  142  173  100

In [6]:
box_df = load_from_box()
box_df.head()

              A    B    C
01/09/2000  118  164  180
02/01/2000  115  149  156
02/01/2000  105  117  177
02/13/2000  130  110  102
02/14/2000  142  173  100

# Describe the resulting dataframes

Show the dataframes and explain what the column, rows, and values in the dataframe mean.

In [7]:
df.head()

              A    B    C
01/09/2000  118  164  180
02/01/2000  115  149  156
02/01/2000  105  117  177
02/13/2000  130  110  102
02/14/2000  142  173  100

Each column in the dataframe is a patient.
Each row is the date the blood pressure was taken.
Each value is the patients blood pressure (only the systolic pressure) at the given date.